openapi: 3.0.3
info:
  title: CISv2
  description: CISv2 API
  version: 1.0.0
servers:
  - url: https://apigw-collaudo.cdp-sanita-coll.soresa.it/ecupt/api/v2.0/appecupt
    description: CISv2 API
paths:
  /gpi2/ricetta:
    post:
      summary: Presa in carico della ricetta
      operationId: createRecipe
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ricettaBody'
        required: true
      responses:
        '200':
          description: Ricetta presa in carico
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ricettaResponse'
  /mapbox/reversegeocoding:
    get:
      summary: Recupero degli indirizzi e le relative coordinate
      operationId: reverseGeocoding
      parameters:
        - name: indirizzo
          in: query
          description: indirizzo di ricerca
          required: true
          schema:
            type: string
          example: "via bartolo longo"
      responses:
        '200':
          description: Lista degli indirizzi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reverseGeocodingResponse"
  /gpi2/gruppoAmbiti:
    get:
      summary: Lista del gruppo ambiti
      operationId: getGruppoAmbiti
      responses:
        '200':
          description: Lista gruppo ambiti
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gruppoAmbitiResponse'
  /gpi2/ambiti:
    get:
      summary: Lista degli ambiti
      operationId: getAmbiti
      parameters:
        - name: id
          in: query
          description: id gruppo ambiti
          required: true
          schema:
            type: string
          example: "AGNA1"
      responses:
        '200':
          description: Lista ambiti
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ambitiResponse'
  /gpi2/erogatoriAmbito/{idAmbito}:
    get:
      summary: Lista degli erogatori per ambito
      operationId: getErogatoriAmbito
      parameters:
        - name: idAmbito
          in: path
          description: id ambito
          required: true
          schema:
            type: string
          example: "100923"
        - name: prestazioni
          in: query
          description: codici catalogo delle prestazioni
          required: false
          schema:
            type: array
            items:
              type: string
          example: "89010.014, 89010.001"
          style: form
          explode: true
      responses:
        '200':
          description: Lista erogatori ambito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/erogatoriAmbitoResponse'
  /gpi2/sediErogatore:
    post:
      summary: Lista delle sedi erogatore
      operationId: getSediErogatore
      parameters:
        - name: idEnte
          in: query
          description: id ente
          required: true
          schema:
            type: string
          example: "231820"
        - name: erogazioneParziale
          in: query
          description: booleano che indica se le prestazioni possono essere prenotate parzialmente
          required: false
          schema:
            type: boolean
          example: true
        - name: idAmbito
          in: query
          description: id dell'mabito
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sediErogatoriBody'
        required: true
      responses:
        '200':
          description: Lista sedi erogatore
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sediErogatoreResponse'
  /gpi2/annullaPrenotazioneSospesa:
    delete:
      summary: Annulla prenotazione sospesa
      operationId: deletePrenotazioneSospesa
      responses:
        '200':
          description: Prenotazione sospesa annullata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annullaPrenotazioneSospesaResponse'
  /gpi2/proposteAmbiti:
    post:
      summary: Proposte ambiti
      operationId: createProposteAmbiti
      parameters:
        - name: idGruppoAmbito
          in: query
          description: id ambito
          required: true
          schema:
            type: string
          example: "AGNA1"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codiceFiscale:
                  type: string
                  example: "VLNFNS80A01H501U"
                prestazioni:
                  type: array
                  items:
                    type: string
                    example: "89010.014, 89520.001"
                latitudine:
                  type: string
                  example: "41.9027835"
                longitudine:
                  type: string
                  example: "12.4963655"
              required:
                - codiceFiscale
                - prestazioni
        required: true
      responses:
        '200':
          description: Proposte ambiti
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/proposteAmbitiResponse'
  /gpi2/altreProposte:
    post:
      summary: Altre proposte
      operationId: createAltreProposte
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                idAmbito:
                  type: string
                  example: "100923"
                codiceFiscale:
                  type: string
                  example: "VLNFNS80A01H501U"
                prestazioni:
                  type: array
                  items:
                    type: string
                    example: "89010.014, 89520.001"
                dalGiorno:
                  type: string
                  example: "2023-01-25"
                alGiorno:
                  type: string
                  example: "2023-01-31"
                orarioInizio:
                  type: string
                  example: "19:00:00"
                orarioFine:
                  type: string
                  example: "20:30:00"
                idErogatore:
                  type: string
                  example: "102820"
                idSede:
                  type: string
                  example: "203520"
              required:
                - idAmbito
                - codiceFiscale
                - prestazioni
                - dalGiorno
                - alGiorno
        required: true
      responses:
        '200':
          description: Altre Proposte di un ambito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/altreProposteAmbitoResponse'
  /gpi2/altraDisponibilita:
    post:
      summary: Altra disponibilita
      operationId: createAltraDisponibilita
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                idAmbito:
                  type: string
                  example: "100923"
                codiceFiscale:
                  type: string
                  example: "VLNFNS80A01H501U"
                prestazioni:
                  type: array
                  items:
                    type: string
                    example: "89010.014, 89520.001"
                dalGiorno:
                  type: string
                  example: "2023-01-25"
                alGiorno:
                  type: string
                  example: "2023-01-31"
                orarioInizio:
                  type: string
                  example: "19:00:00"
                orarioFine:
                  type: string
                  example: "20:30:00"
                idErogatore:
                  type: string
                  example: "102820"
                idSede:
                  type: string
                  example: "203520"
              required:
                - idAmbito
                - codiceFiscale
                - prestazioni
                - dalGiorno
                - alGiorno
                - idErogatore
                - idSede
        required: true
      responses:
        '200':
          description: Altra disponibilita di una specifica sede
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/primaDisponibilitaResponse'
  /gpi2/primaDisponibilita:
    post:
      summary: Prima disponibilita
      operationId: createPrimaDisponibilita
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/primaDisponibilitaBody'
        required: true
      responses:
        '200':
          description: Prima disponibilita
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/primaDisponibilitaResponse'
  /gpi2/confermaPrenotazione:
    post:
      summary: Conferma prenotazione
      operationId: createConfermaPrenotazione
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/confermaPrenotazioneBody'
        required: true
      responses:
        '200':
          description: Conferma prenotazione
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/confermaPrenotazioneResponse'
  /gpi2/listaappuntamenti:
    post:
      summary: Recupera gli appuntamenti dell'assistito
      operationId: listaAppuntamenti
      parameters:
        - name: struttura
          in: header
          description: codice della struttura. Per il cup regionale è 150000
          required: true
          schema:
            type: string
          example: "150000"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codiceFiscale:
                  type: string
                  example: "VLNFNS80A01H501U"
              required:
                - codiceFiscale
        required: true
      responses:
        '200':
          description: lista appuntamenti futuri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listaAppuntamentiResponse'
  /gpi2/spostamento/disponibilita:
    post:
      summary: Recupera le proposte per effettuare lo spostamento di un appuntamento
      operationId: proposteSpostamento
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                idErogatore:
                  type: string
                  example: "115921"
                idSede:
                  type: string
                  example: "301222"
                codiceFiscale:
                  type: string
                  example: "VLNFNS80A01H501U"
                idPaziente:
                  type: string
                  example: "2020001046"
                dalGiorno:
                  type: string
                  example: "2023-01-25"
                alGiorno:
                  type: string
                  example: "2023-01-31"
                nre:
                  type: string
                  example: "1500A4005247133"
                classePriorita:
                  type: string
                  example: "P"
                processId:
                  type: string
                  example: "7103823"
                appuntamenti:
                  type: array
                  items:
                    type: object
                    properties:
                      codPrestazione:
                        type: string
                        example: "89700.015"
                      idOrder:
                        type: string
                        example: "00"
                      codAppuntamento:
                        type: string
                        example: "1303823"
                    minItems: 1
                    required:
                      - codPrestazione
                      - idOrder
                      - codAppuntamento
                orarioInizio:
                  type: string
                  example: "19:00:00"
                orarioFine:
                  type: string
                  example: "20:30:00"
              required:
                - idErogatore
                - idSede
                - codiceFiscale
                - idPaziente
                - dalGiorno
                - alGiorno
                - nre
                - classePriorita
                - appuntamenti
        required: true
      responses:
        '200':
          description: Altre Proposte di un ambito
          content:
            application/json:
              schema:
                type: object
                properties:
                  stato:
                    type: integer
                    example: 200
                  errore:
                    type: string
                    description: Il campo può essere null
                    example: null
                  data:
                    type: object
                    properties:
                      processId:
                        type: string
                        example: "7103823"
                      appuntamenti:
                        type: array
                        items:
                          $ref: '#/components/schemas/appuntamentoSpostamento'
  /gpi2/spostamento/conferma:
    post:
      summary: Conferma lo spostamento
      operationId: confermaSpostamento
      parameters:
        - name: struttura
          in: header
          description: codice della struttura. Per il cup regionale è 150000
          required: true
          schema:
            type: string
            example: "150000"
        - name: codAppuntamento
          in: query
          description: codice dell'appuntamento da spostare
          required: true
          schema:
            type: string
            example: "3403923"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codiceFiscale:
                  type: string
                  example: "VLNFNS80A01H501U"
                idPaziente:
                  type: string
                  example: "2020001046"
                classePriorita:
                  type: string
                  example: "P"
                processId:
                  type: string
                  example: "7103823"
                appuntamenti:
                  type: array
                  items:
                    $ref: '#/components/schemas/appuntamentoSpostamento'
                    required:
                      - idAgenda
                      - codiceAgenda
                      - nomeAgenda
                      - idPrestazione
                      - desPrestazione
                      - desAmbulatorio
                      - idEnte
                      - ente
                      - idSede
                      - desSede
                      - indirizzoSede
                      - idUnitaOperativa
                      - dataAppuntamento
                      - oraAppuntamento
                      - idOrdine
                      - timeband
                      - combinazioni
              required:
                - codiceFiscale
                - idPaziente
                - classePriorita
                - processId
                - appuntamenti
      responses:
        '200':
          description: Spostamento confermato
          content:
            application/json:
              schema:
                type: object
                properties:
                  stato:
                    type: integer
                    example: 200
                  errore:
                    type: string
                    description: Il campo può essere null
                    example: null
                  data:
                    type: string
                    example: "Spostamento confermato"
components:
  securitySchemes:
    x-access-token:
      type: apiKey
      name: x-access-token
      in: header
      description: Tutte le richieste devono contenere il token di autenticazione
  schemas:
    assistito:
      type: object
      properties:
        codiceFiscale:
          type: string
      required:
        - codiceFiscale
    codiceMedico:
      type: object
      properties:
        id:
          type: string
          example: "DOC0003319220"
        type:
          type: string
          example: "1"
    medico:
      type: object
      properties:
        firstName:
          type: string
          example: "Mario"
        lastName:
          type: string
          example: "Rossi"
    prestazioni:
      type: object
      properties:
        desPrestazione:
          type: string
          example: "[89010.014] VISITA DI CONTROLLO CARDIOLOGICA"
        idPrestazione:
          type: string
          example: "89010.014"
        codCatalogo:
          type: string
          example: "89010.014"
        idOrder:
          type: string
          example: "00"
        prenotabile:
          type: boolean
          example: true
    dataRicettaResponse:
      type: object
      properties:
        nre:
          type: string
          example: "1500A1234567890"
        dataEmissioneRicetta:
          type: string
          example: "2021-04-28T02:00:00Z"
        dataScadenzaRicetta:
          type: string
          example: "2021-05-28T02:00:00Z"
        classePriorita:
          type: string
          example: "P"
        codiceMedico:
          $ref: '#/components/schemas/codiceMedico'
        codiceEsenzione:
          type: string
          example: "NE00"
        prestazioni:
          type: array
          items:
            $ref: '#/components/schemas/prestazioni'
        asl:
          type: string
    dataGruppoAmbiti:
      type: object
      properties:
        id:
          type: string
          example: "AREAGROUP_ID"
        name:
          type: string
          example: "EDIT_NAME"
        entryDateTime:
          type: string
          example: "2022-11-03T23:00:00Z"
        entryUserId:
          type: string
          example: "1"
    dataAmbiti:
      type: object
      properties:
        id:
          type: string
          example: "105520"
        name:
          type: string
          example: "ASL NAPOLI 1 - Y"
        startDateTime:
          type: string
          example: "2022-11-03T23:00:00Z"
        endDate:
          type: string
          example: "2022-11-03T23:00:00Z"
        details:
          type: array
          items:
            type: string
            example: []
        isPrivate:
          type: string
          example: "N"
        code:
          type: string
          example: "105520"
        type:
          type: number
          example: 0
    dataProposteAmbiti:
      type: object
      properties:
        idAmbito:
          type: string
          example: "100923"
        ambito:
          type: string
          example: "ASL SALERNO SUD"
        proposte:
          type: array
          items:
            $ref: '#/components/schemas/proposteAmbiti'
    dataAltreProposteAmbito:
      type: array
      items:
        $ref: '#/components/schemas/propostaAmbitoObject'
    proposteAmbiti:
      type: array
      items:
        $ref: '#/components/schemas/propostaAmbitoObject'
    appuntamentoSpostamento:
      type: object
      properties:
        idEnte:
          type: string
          example: "231820"
        ente:
          type: string
          example: "ASL SALERNO"
        idAgenda:
          type: string
          example: "717421"
        codiceAgenda:
          type: string
          example: "717421"
        nomeAgenda:
          type: string
          example: "PROVA TOTEM ASL NAPOLI 2 NORD 0"
        idPrestazione:
          type: string
          example: "89010.014"
        desPrestazione:
          type: string
          example: "VISITA DI CONTROLLO CARDIOLOGICA"
        idSede:
          type: string
          example: "1831920"
        desSede:
          type: string
          example: "DISTRETTO 41 - FRATTAMAGGIORE -"
        indirizzoSede:
          type: string
          example: "VIA PADRE VERGARA MARIO"
        idUnitaOperativa:
          type: string
          example: "NA20510689"
        dataAppuntamento:
          type: string
          example: "16/01/2023"
        oraAppuntamento:
          type: string
          example: "10:00"
        idOrdine:
          type: string
          example: "00"
        durata:
          type: integer
          example: 30
        timeband:
          type: string
          example: "1503223"
        combinazioni:
          type: array
          items:
            $ref: '#/components/schemas/combinazioni'
    propostaAmbitoObject:
      type: object
      properties:
        idEnte:
          type: string
          example: "231820"
        ente:
          type: string
          example: "ASL SALERNO"
        idAgenda:
          type: string
          example: "717421"
        codiceAgenda:
          type: string
          example: "717421"
        nomeAgenda:
          type: string
          example: "PROVA TOTEM ASL NAPOLI 2 NORD 0"
        idPrestazione:
          type: string
          example: "89010.014"
        desPrestazione:
          type: string
          example: "VISITA DI CONTROLLO CARDIOLOGICA"
        idSede:
          type: string
          example: "1831920"
        desSede:
          type: string
          example: "DISTRETTO 41 - FRATTAMAGGIORE -"
        indirizzoSede:
          type: string
          example: "VIA PADRE VERGARA MARIO"
        idUnitaOperativa:
          type: string
          example: "NA20510689"
        dataAppuntamento:
          type: string
          example: "16/01/2023"
        oraAppuntamento:
          type: string
          example: "10:00"
        idOrdine:
          type: string
          example: "00"
        durata:
          type: integer
          example: 30
        idAmbito:
          type: string
          example: "400923"
        combinazioni:
          type: array
          items:
            $ref: '#/components/schemas/combinazioni'
    confermaPrenotazioneBody:
      type: object
      properties:
        codiceFiscale:
          type: string
          example: "VLNFNS80A01H501U"
        idEnte:
          type: string
          example: "231820"
        appuntamenti:
          type: array
          items:
            $ref: '#/components/schemas/dataAppuntamentiConfermaPrenotazioneBody'
      required:
        - codiceFiscale
        - idEnte
        - appuntamenti
    dataAppuntamentiConfermaPrenotazioneBody:
      type: object
      properties:
        idAgenda:
          type: string
          example: "108121"
        codiceAgenda:
          type: string
          example: "108121"
        nomeAgenda:
          type: string
          example: "CARDIOLOGICA CRISPI - TEST ALMAVIVA"
        idPrestazione:
          type: string
          example: "89520.001"
        desPrestazione:
          type: string
          example: "ELETTROCARDIOGRAMMA"
        desAmbulatorio:
          type: string
          example: "TELEMEDICINA TEST - VIA PORTAMEDINA, 80134 NAPOLI NA, ITALIA"
        idSede:
          type: string
          example: "203520"
        desSede:
          type: string
          example: "P.S.P. SANTA MARIA DI LORETO CRISPI"
        indirizzoSede:
          type: string
          example: "VIA PORTAMEDINA, 80134 NAPOLI NA, ITALIA"
        idUnitaOperativa:
          type: string
          example: "U2046893"
        dataAppuntamento:
          type: string
          example: "16/01/2023"
        oraAppuntamento:
          type: string
          example: "19:00"
        idOrdine:
          type: string
          example: "11"
        combinazioni:
          type: array
          items:
            $ref: '#/components/schemas/combinazioni'
      required:
        - idAgenda
        - codiceAgenda
        - nomeAgenda
        - idPrestazione
        - desPrestazione
        - desAmbulatorio
        - idSede
        - desSede
        - indirizzoSede
        - idUnitaOperativa
        - dataAppuntamento
        - oraAppuntamento
        - idOrdine
    combinazioni:
      type: object
      properties:
        requestId:
          type: array
          items:
            example: "00, 01"
            description: Il campo può essere null
    dataPrimaDisponibilita:
      type: object
      properties:
        idAgenda:
          type: string
          example: "226322"
        codiceAgenda:
          type: string
          example: "226322"
        nomeAgenda:
          type: string
          example: "SOLO SSN - TEST TELEMEDICINA"
        idPrestazione:
          type: string
          example: "89010.014"
        desPrestazione:
          type: string
          example: "VISITA DI CONTROLLO CARDIOLOGICA"
        desAmbulatorio:
          type: string
          example: "TELEMEDICINA TEST - VIA PORTAMEDINA, 80134 NAPOLI NA, ITALIA"
        idSede:
          type: string
          example: "203520"
        desSede:
          type: string
          example: "P.S.P. SANTA MARIA DI LORETO CRISPI"
        idEnte:
          type: string
          example: "115921"
        ente:
          type: string
          example: "ASL SALERNO"
        indirizzoSede:
          type: string
          example: "VIA PORTAMEDINA, 80134 NAPOLI NA, ITALIA"
        idUnitaOperativa:
          type: string
          example: "125822"
        dataAppuntamento:
          type: string
          example: "16/01/2023"
        oraAppuntamento:
          type: string
          example: "08:00"
        idOrdine:
          type: string
          example: "00"
        durata:
          type: integer
          example: 30
        combinazioni:
          type: array
          items:
            $ref: '#/components/schemas/combinazioni'
    reverseGeocodingResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            type: object
            properties:
              indirizzo:
                type: string
                example: "Via Bartolo Longo, 84025 Eboli provincia di Salerno, Italia"
              longitudine:
                type: number
                example: 15.049581
              latitudine:
                type: number
                example: 40.613051
    gruppoAmbitiResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            $ref: '#/components/schemas/dataGruppoAmbiti'
    ricettaBody:
      type: object
      properties:
        nre:
          type: string
        assistito:
          $ref: '#/components/schemas/assistito'
      required:
        - nre
        - assistito
    ricettaResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          $ref: '#/components/schemas/dataRicettaResponse'
    ambitiResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            $ref: '#/components/schemas/dataAmbiti'
    annullaPrenotazioneSospesaResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: string
          example: "La prenotazione in sospeso è stata annullata correttamente"
    proposteAmbitiResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            $ref: '#/components/schemas/dataProposteAmbiti'
    altreProposteAmbitoResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            $ref: '#/components/schemas/dataAltreProposteAmbito'
    disponibilitaSpostamento:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: object
          properties:
            processId:
              type: string
              example: "7103823"
            appuntamenti:
              type: array
              items:
                $ref: '#/components/schemas/propostaAmbitoObject'
    primaDisponibilitaBody:
      type: object
      properties:
        idAmbito:
          type: string
          example: "400923"
        idEnte:
          type: string
          example: "102820"
        codiceFiscale:
          type: string
          example: "VLNFNS80A01H501U"
        prestazioni:
          type: array
          items:
            type: string
            example: "89010.014, 89520.001"
      required:
        - idAmbito
        - idEnte
        - codiceFiscale
        - prestazioni
    sediErogatoriBody:
      type: object
      properties:
        prestazioni:
          type: array
          items:
            type: string
            example: "89010.014, 89520.001"
      required:
        - prestazioni
    primaDisponibilitaResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            $ref: '#/components/schemas/dataPrimaDisponibilita'
    confermaPrenotazioneResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: object
          properties:
            messaggio:
              type: string
              example: "La prenotazione è stata confermata correttamente"
            patientId:
              type: string
              example: "2020001046"
            idTransazione:
              type: string
              example: "18901823"
            note:
              type: array
              items:
                type: string
                example: "IL PAZIENTE E` PREGATO DI LASCIARE UN RECAPITO TELEFONICO ATTIVO PER TEMPESTIVE COMUNICAZIONI"
    erogatoriAmbitoResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: "231820"
              name:
                type: string
                example: "ASL NAPOLI 2 NORD"
    sediErogatoreResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: "131920"
              name:
                type: string
                example: "DISTRETTO 35 - BACOLI -"
    listaAppuntamentiResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            type: object
            properties:
              nre:
                type: string
                example: "1500A4005247131"
              statoAppuntamento:
                type: integer
                example: 1
              dataDiPrenotazione:
                type: string
                example: "07/02/2023"
              dataEmissioneRicetta:
                type: string
                example: "31/01/2023"
              classePriorita:
                type: string
                example: "P"
              idTransazione:
                type: string
                example: "5803823"
              stampaRicevuta:
                type: boolean
                example: true
              abilitaAnnullamento:
                type: boolean
                example: false
              messaggioAnnullamento:
                type: string
                example: "Non è possibile effettuare la cancellazione dell'appuntamento."
              pagato:
                type: boolean
                example: false
              idPaziente:
                type: string
                example: "2020001046"
              diagnosi:
                type: string
                example: "002$|$0"
              idEnte:
                type: string
                example: "115921"
              ente:
                type: string
                example: "ASL SALERNO"
              appuntamenti:
                type: array
                items:
                  type: object
                  properties:
                    codAppuntamento:
                      type: string
                      example: "2003823"
                    desPrestazione:
                      type: string
                      example: "ELETTROCARDIOGRAMMA"
                    idOrder:
                      type: string
                      example: "00"
                    codPrestazione:
                      type: string
                      example: "89520.001"
                    nota:
                      type: string
                      example: ""
                    dataAppuntamento:
                      type: string
                      example: "13/02/2023 09:05"
                    posizioneInCoda:
                      type: string
                      example: "1"
                    stato:
                      type: integer
                      example: 1
                    abilitaSpostamento:
                      type: boolean
                      example: true
                    messaggioSpostamento:
                      type: string
                      example: ""
                    idSede:
                      type: string
                      example: "301222"
                    teleconsulto:
                      type: boolean
                      example: false
                    ambulatorio:
                      type: object
                      properties:
                        unitaOperativa:
                          type: string
                          example: "1703023"
                        ubicazioneStruttura:
                          type: string
                          example: "PASTENA"
                        codAmbulatorio:
                          type: string
                          example: "301222"
                        descrizione:
                          type: string
                          example: "AMBITO SA CENTRO"
                        nomeStruttura:
                          type: string
                          example: "POLIAMB. SPEC. TERRIT. - DSB 66 - PASTENA"
security:
  - x-access-token: []
