openapi: 3.0.3
info:
  title: CISv2
  description: CISv2 API
  version: 1.0.0
servers:
  - url: https://apigw-collaudo.cdp-sanita-coll.soresa.it/ecupt/api/v2.0/appecupt/gpi2
    description: CISv2 API
paths:
  /ricetta:
    post:
      summary: Presa in carico della ricetta
      operationId: createRecipe
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ricettaBody'
        required: true
      responses:
        '200':
          description: Ricetta presa in carico
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ricettaResponse'
  /gruppoAmbiti:
    get:
      summary: Lista del gruppo ambiti
      operationId: getGruppoAmbiti
      responses:
        '200':
          description: Lista gruppo ambiti
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gruppoAmbitiResponse'
  /ambiti:
    get:
      summary: Lista degli ambiti
      operationId: getAmbiti
      parameters:
        - name: id
          in: query
          description: id gruppo ambiti
          required: true
          schema:
            type: string
          example: "AGNA1"
      responses:
        '200':
          description: Lista ambiti
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ambitiResponse'
  /erogatoriAmbito:
    get:
      summary: Lista degli erogatori per ambito
      operationId: getErogatoriAmbito
      parameters:
        - name: idAmbito
          in: query
          description: id ambito
          required: true
          schema:
            type: string
          example: "100923"
      responses:
        '200':
          description: Lista erogatori ambito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/erogatoriAmbitoResponse'
  /sediErogatore:
    post:
      summary: Lista delle sedi erogatore
      operationId: getSediErogatore
      parameters:
        - name: idEnte
          in: query
          description: id ente
          required: true
          schema:
            type: string
          example: "231820"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sediErogatoriBody'
        required: true
      responses:
        '200':
          description: Lista sedi erogatore
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sediErogatoreResponse'
  /annullaPrenotazioneSospesa:
    delete:
      summary: Annulla prenotazione sospesa
      operationId: deletePrenotazioneSospesa
      responses:
        '200':
          description: Prenotazione sospesa annullata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annullaPrenotazioneSospesaResponse'
  /proposteAmbiti:
    post:
      summary: Proposte ambiti
      operationId: createProposteAmbiti
      parameters:
        - name: idGruppoAmbito
          in: query
          description: id ambito
          required: true
          schema:
            type: string
          example: "AGNA1"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codiceFiscale:
                  type: string
                  example: "VLNFNS80A01H501U"
                prestazioni:
                  type: array
                  items:
                    type: string
                    example: "89010.014, 89520.001"
                latitudine:
                  type: string
                  example: "41.9027835"
                longitudine:
                    type: string
                    example: "12.4963655"
              required:
                - codiceFiscale
                - prestazioni
        required: true
      responses:
        '200':
          description: Proposte ambiti
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/proposteAmbitiResponse'
  /altreProposte:
    post:
      summary: Altre proposte
      operationId: createAltreProposte
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                idAmbito:
                  type: string
                  example: "100923"
                codiceFiscale:
                  type: string
                  example: "VLNFNS80A01H501U"
                prestazioni:
                  type: array
                  items:
                    type: string
                    example: "89010.014, 89520.001"
                dalGiorno:
                  type: string
                  example: "2023-01-25"
                alGiorno:
                  type: string
                  example: "2023-01-31"
                orarioInizio:
                  type: string
                  example: "19:00:00"
                orarioFine:
                  type: string
                  example: "20:30:00"
                idErogatore:
                  type: string
                  example: "102820"
                idSede:
                  type: string
                  example: "203520"
              required:
                - idAmbito
                - codiceFiscale
                - prestazioni
                - dalGiorno
                - alGiorno
        required: true
      responses:
        '200':
          description: Altre Proposte di un ambito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/altreProposteAmbitoResponse'
  /altraDisponibilita:
    post:
      summary: Altra disponibilita
      operationId: createAltraDisponibilita
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                idAmbito:
                  type: string
                  example: "100923"
                codiceFiscale:
                  type: string
                  example: "VLNFNS80A01H501U"
                prestazioni:
                  type: array
                  items:
                    type: string
                    example: "89010.014, 89520.001"
                dalGiorno:
                  type: string
                  example: "2023-01-25"
                alGiorno:
                  type: string
                  example: "2023-01-31"
                orarioInizio:
                  type: string
                  example: "19:00:00"
                orarioFine:
                  type: string
                  example: "20:30:00"
                idErogatore:
                  type: string
                  example: "102820"
                idSede:
                  type: string
                  example: "203520"
              required:
                - idAmbito
                - codiceFiscale
                - prestazioni
                - dalGiorno
                - alGiorno
                - idErogatore
                - idSede
        required: true
      responses:
        '200':
          description: Altra disponibilita di una specifica sede
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/primaDisponibilitaResponse'
  /primaDisponibilita:
    post:
      summary: Prima disponibilita
      operationId: createPrimaDisponibilita
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/primaDisponibilitaBody'
        required: true
      responses:
        '200':
          description: Prima disponibilita
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/primaDisponibilitaResponse'
  /confermaPrenotazione:
    post:
      summary: Conferma prenotazione
      operationId: createConfermaPrenotazione
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/confermaPrenotazioneBody'
        required: true
      responses:
        '200':
          description: Conferma prenotazione
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/confermaPrenotazioneResponse'
components:
  securitySchemes:
    x-access-token:
      type: apiKey
      name: x-access-token
      in: header
      description: Tutte le richieste devono contenere il token di autenticazione
  schemas:
    assistito:
      type: object
      properties:
        codiceFiscale:
          type: string
      required:
        - codiceFiscale
    codiceMedico:
      type: object
      properties:
        id:
          type: string
          example: "DOC0003319220"
        type:
          type: string
          example: "1"
    medico:
      type: object
      properties:
        firstName:
          type: string
          example: "Mario"
        lastName:
          type: string
          example: "Rossi"
    prestazioni:
      type: object
      properties:
        desPrestazione:
          type: string
          example: "[89010.014] VISITA DI CONTROLLO CARDIOLOGICA"
        idPrestazione:
          type: string
          example: "89010.014"
        codCatalogo:
          type: string
          example: "89010.014"
        idOrder:
          type: string
          example: "00"
        prenotabile:
          type: boolean
          example: true
    dataRicettaResponse:
      type: object
      properties:
        nre:
          type: string
          example: "1500A1234567890"
        dataEmissioneRicetta:
          type: string
          example: "2021-04-28T02:00:00Z"
        dataScadenzaRicetta:
          type: string
          example: "2021-05-28T02:00:00Z"
        classePriorita:
          type: string
          example: "P"
        codiceMedico:
          $ref: '#/components/schemas/codiceMedico'
        codiceEsenzione:
          type: string
          example: "NE00"
        prestazioni:
          type: array
          items:
            $ref: '#/components/schemas/prestazioni'
        asl:
          type: string
    dataGruppoAmbiti:
      type: object
      properties:
        id:
          type: string
          example: "AREAGROUP_ID"
        name:
          type: string
          example: "EDIT_NAME"
        entryDateTime:
          type: string
          example: "2022-11-03T23:00:00Z"
        entryUserId:
          type: string
          example: "1"
    dataAmbiti:
      type: object
      properties:
        id:
          type: string
          example: "105520"
        name:
          type: string
          example: "ASL NAPOLI 1 - Y"
        startDateTime:
          type: string
          example: "2022-11-03T23:00:00Z"
        endDate:
          type: string
          example: "2022-11-03T23:00:00Z"
        details:
          type: array
          items:
            type: string
            example: []
        isPrivate:
          type: string
          example: "N"
        code:
          type: string
          example: "105520"
        type:
          type: number
          example: 0
    dataProposteAmbiti:
      type: object
      properties:
        idAmbito:
          type: string
          example: "100923"
        idEnte:
          type: string
          example: "231820"
        ente:
          type: string
          example: "ASL SALERNO"
        ambito:
          type: string
          example: "ASL SALERNO SUD"
        proposte:
          type: array
          items:
            $ref: '#/components/schemas/proposteAmbiti'
    dataAltreProposteAmbito:
      type: array
      items:
        $ref: '#/components/schemas/propostaAmbitoObject'
    proposteAmbiti:
      type: array
      items:
        $ref: '#/components/schemas/propostaAmbitoObject'
    propostaAmbitoObject:
      type: object
      properties:
        idAgenda:
          type: string
          example: "717421"
        codiceAgenda:
          type: string
          example: "717421"
        nomeAgenda:
          type: string
          example: "PROVA TOTEM ASL NAPOLI 2 NORD 0"
        idPrestazione:
          type: string
          example: "89010.014"
        desPrestazione:
          type: string
          example: "VISITA DI CONTROLLO CARDIOLOGICA"
        idSede:
          type: string
          example: "1831920"
        desSede:
          type: string
          example: "DISTRETTO 41 - FRATTAMAGGIORE -"
        indirizzoSede:
          type: string
          example: "VIA PADRE VERGARA MARIO"
        idUnitaOperativa:
          type: string
          example: "NA20510689"
        dataAppuntamento:
          type: string
          example: "16/01/2023"
        oraAppuntamento:
          type: string
          example: "10:00"
        idOrdine:
          type: string
          example: "00"
        durata:
          type: integer
          example: 30
        idAmbito:
          type: string
          example: "400923"
        combinazioni:
          type: array
          items:
            $ref: '#/components/schemas/combinazioni'
    confermaPrenotazioneBody:
      type: object
      properties:
        codiceFiscale:
          type: string
          example: "VLNFNS80A01H501U"
        idEnte:
          type: string
          example: "231820"
        appuntamenti:
          type: array
          items:
            $ref: '#/components/schemas/dataAppuntamentiConfermaPrenotazioneBody'
      required:
        - codiceFiscale
        - idEnte
        - appuntamenti
    dataAppuntamentiConfermaPrenotazioneBody:
      type: object
      properties:
        idAgenda:
          type: string
          example: "108121"
        codiceAgenda:
          type: string
          example: "108121"
        nomeAgenda:
          type: string
          example: "CARDIOLOGICA CRISPI - TEST ALMAVIVA"
        idPrestazione:
          type: string
          example: "89520.001"
        desPrestazione:
          type: string
          example: "ELETTROCARDIOGRAMMA"
        desAmbulatorio:
          type: string
          example: "TELEMEDICINA TEST - VIA PORTAMEDINA, 80134 NAPOLI NA, ITALIA"
        idSede:
          type: string
          example: "203520"
        desSede:
          type: string
          example: "P.S.P. SANTA MARIA DI LORETO CRISPI"
        indirizzoSede:
          type: string
          example: "VIA PORTAMEDINA, 80134 NAPOLI NA, ITALIA"
        idUnitaOperativa:
          type: string
          example: "U2046893"
        dataAppuntamento:
          type: string
          example: "16/01/2023"
        oraAppuntamento:
          type: string
          example: "19:00"
        idOrdine:
          type: string
          example: "11"
        combinazioni:
          type: array
          items:
            $ref: '#/components/schemas/combinazioni'
      required:
        - idAgenda
        - codiceAgenda
        - nomeAgenda
        - idPrestazione
        - desPrestazione
        - desAmbulatorio
        - idSede
        - desSede
        - indirizzoSede
        - idUnitaOperativa
        - dataAppuntamento
        - oraAppuntamento
        - idOrdine
    combinazioni:
      type: object
      properties:
        requestId:
          type: array
          items:
            example: "00, 01"
            description: Il campo può essere null
    dataPrimaDisponibilita:
      type: object
      properties:
        idAgenda:
          type: string
          example: "226322"
        codiceAgenda:
          type: string
          example: "226322"
        nomeAgenda:
          type: string
          example: "SOLO SSN - TEST TELEMEDICINA"
        idPrestazione:
          type: string
          example: "89010.014"
        desPrestazione:
          type: string
          example: "VISITA DI CONTROLLO CARDIOLOGICA"
        desAmbulatorio:
          type: string
          example: "TELEMEDICINA TEST - VIA PORTAMEDINA, 80134 NAPOLI NA, ITALIA"
        idSede:
          type: string
          example: "203520"
        desSede:
          type: string
          example: "P.S.P. SANTA MARIA DI LORETO CRISPI"
        indirizzoSede:
          type: string
          example: "VIA PORTAMEDINA, 80134 NAPOLI NA, ITALIA"
        idUnitaOperativa:
          type: string
          example: "125822"
        dataAppuntamento:
          type: string
          example: "16/01/2023"
        oraAppuntamento:
          type: string
          example: "08:00"
        idOrdine:
          type: string
          example: "00"
        durata:
          type: integer
          example: 30
        combinazioni:
          type: array
          items:
            $ref: '#/components/schemas/combinazioni'
    gruppoAmbitiResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            $ref: '#/components/schemas/dataGruppoAmbiti'
    ricettaBody:
      type: object
      properties:
        nre:
          type: string
        assistito:
          $ref: '#/components/schemas/assistito'
      required:
        - nre
        - assistito
    ricettaResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          $ref: '#/components/schemas/dataRicettaResponse'
    ambitiResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            $ref: '#/components/schemas/dataAmbiti'
    annullaPrenotazioneSospesaResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: string
          example: "La prenotazione in sospeso è stata annullata correttamente"
    proposteAmbitiResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            $ref: '#/components/schemas/dataProposteAmbiti'
    altreProposteAmbitoResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            $ref: '#/components/schemas/dataAltreProposteAmbito'
    primaDisponibilitaBody:
      type: object
      properties:
        idAmbito:
          type: string
          example: "400923"
        idEnte:
          type: string
          example: "102820"
        codiceFiscale:
          type: string
          example: "VLNFNS80A01H501U"
        prestazioni:
          type: array
          items:
            type: string
            example: "89010.014, 89520.001"
      required:
        - idAmbito
        - idEnte
        - codiceFiscale
        - prestazioni
    sediErogatoriBody:
      type: object
      properties:
        prestazioni:
          type: array
          items:
            type: string
            example: "89010.014, 89520.001"
      required:
        - prestazioni
    primaDisponibilitaResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            $ref: '#/components/schemas/dataPrimaDisponibilita'
    confermaPrenotazioneResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: object
          properties:
            messaggio:
              type: string
              example: "La prenotazione è stata confermata correttamente"
            patientId:
              type: string
              example: "2020001046"
            idTransazione:
              type: string
              example: "18901823"
            note:
              type: array
              items:
                type: string
                example: "IL PAZIENTE E` PREGATO DI LASCIARE UN RECAPITO TELEFONICO ATTIVO PER TEMPESTIVE COMUNICAZIONI"
    erogatoriAmbitoResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: "231820"
              name:
                type: string
                example: "ASL NAPOLI 2 NORD"
    sediErogatoreResponse:
      type: object
      properties:
        stato:
          type: integer
          example: 200
        errore:
          type: string
          description: Il campo può essere null
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: "131920"
              name:
                type: string
                example: "DISTRETTO 35 - BACOLI -"

security:
  - x-access-token: []
